@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";

    <h1>Om sidan</h1>
    <p>
        Detta är Moment 1.2 i kursen ASP.NET med C#. Denna webbplats är skapad med ASP.net Core (ASP.net Core Web
        Application) och Razor.
        För att komma i kontakt med mig kan man skicka e-post till <a
            href="mailto:aslo1900@student.miun.se">aslo1900@student.miun.se</a></p>

    <h2>GitHub</h2>
    <p>Den färdiga lösningen går att se på min Github. Klicka <a href="https://github.com/asa-lo" target="_blank">här</a>
        för att komma till
        min profil.</p>

    <h2>JavaScript-funktionalitet</h2>
    <p>Här nedan syns min valfria JavaScript-funktionalitet, denna funktion ligger i en extern JavaScript-fil.
        Funktionen visar en kortare text genom att trycka på knappen "Klicka här".</p>
    <button class="btn btn-primary rounded-0" onclick="myFunction()">Klicka här</button>
    <br><br>
    <p id="demo"></p>


}
